db: crm
server:
  port: 80
  servlet:
    context-path: auth
    session:
      cookie:
        name: SSCRM # jsessionid的名字（key）
spring:
  profiles:
    active: dev # x竦沫h境，]有也能正常印Ｕh明:spring.profiles.active=hello-world,sender,dev 有三个参数，其中 application-dev.properties 配置文件在resources目下存在，app启动时，项目会先从application-dev.properties加载配置，再从application.properties配置文件加载配置，如果有重复的配置，则会以application.properties的配置为准
    include: druid,mybatisplus,shiro # 加dapplication.yml 后同r加dapplication-druid.yml,application-mybatisplus.yml,application-shiro.yml
  thymeleaf:
    cache: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://129.204.70.43:3306/${db}?useUnicode=true&characterEncoding=UTF-8&userSSL=false&tinyIntlisBit=true&serverTimezone=Asia/Shanghai&zeroDateTimeBehavior=CONVERT_TO_NULL
    username: crm_group23
    password: Group23@2019