<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.dao.SysUserMapper" >

    <resultMap id="userMap" type="com.ss.entity.SysUser">
        <id property="uid" column="uid"/>
        <result property="uname"  column="uname" />
        <result property="nick"  column="nick" />
        <result property="pwd"  column="pwd" />
        <result property="salt"  column="salt" />
        <result property="locked"  column="locked" />
        <result property="created"  column="created" jdbcType="TIMESTAMP" />
        <result property="updated"  column="updated" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="userColumns">
        u.uid,u.uname,u.nick,u.pwd,u.salt,u.locked,u.created,u.updated
    </sql>
    <sql id="roleColumns"> r.rid,r.rname,r.rval,r.created,r.updated</sql>
    <!-- user 一对多 role extends 属性指明需要执行的resultMap -->
    <resultMap id="userRolesMap" extends="userMap" type="com.ss.entity.SysUser">
        <collection property="roleList" resultMap="com.ss.dao.SysRoleMapper.roleMap"/>
        <!-- com.ss.dao.SysRoleMapper 是SysRoleMapper.xml中的namespace属性值-->
        <!-- columnPrefix指明 select 获取到的属性需要去掉的前缀部分，如这里的role_-->
        <!--<collection property="roleList" columnPrefix="role_" resultMap="com.ss.dao.SysRoleMapper.roleMap"/>-->
    </resultMap>

    <!--<select id="getUserRoles" resultMap="userRolesMap">
        select
          u.*
          r.rid as role_rid,
          r.rname as role_rname,
          r.rdesc as role_rdesc,
          r.rval as role_rval,
          r.created as role_created,
          r.updated  as role_updated
        from sys_user u
        left join sys_user_role ur on u.uid = ur.user_id
        left join sys_role r on ur.role_id = r.rid
        <where>
            <if test="nick != null and nick != ''">
                u.`nick` like concat('%',#{nick},'%')
            </if>
        </where>
        order by u.uid
    </select>-->
</mapper>
